<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
  http://www.springframework.org/schema/context 
  http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="org.jimmyray.mongo" />

	<!-- ||||||||| auth,local profiles ||||||||| -->
	<beans profile="auth,local">
		<bean id="dbName" class="java.lang.String">
			<constructor-arg type="java.lang.String" value="${mongodb.db}" />
		</bean>
	</beans>

	<!-- ||||||||| hq profile ||||||||| -->
	<beans profile="hq">
		<bean id="dbName" class="java.lang.String">
			<constructor-arg type="java.lang.String" value="${mongohq.db}" />
		</bean>
	</beans>

	<!-- ||||||||| hqcb profile ||||||||| -->
	<beans profile="hqcb">
		<bean id="dbName" class="java.lang.String">
			<constructor-arg type="java.lang.String" value="${mongohq.cb.db}" />
		</bean>
	</beans>

	<!-- ||||||||| mongolab profile ||||||||| -->
	<beans profile="lab">
		<bean id="dbName" class="java.lang.String">
			<constructor-arg type="java.lang.String" value="${mongolab.db}" />
		</bean>
		<bean id="mongoLabClient" class="org.jimmyray.mongo.rest.client.MongoLabClient">
			<property name="apiKey" value="${mongolab.apiKey}" />
			<property name="getDbsUri" value="${mongolab.rest.getDbs}" />
		</bean>
	</beans>

	<!-- ||||||||| objectRocket profile ||||||||| -->
	<beans profile="objectRocket">
		<bean id="dbName" class="java.lang.String">
			<constructor-arg type="java.lang.String" value="${objectRocket.db}" />
		</bean>
	</beans>

	<!-- ||||||||| location profile ||||||||| -->
	<beans profile="location">
		<bean id="locationService" class="org.jimmyray.mongo.services.LocationServiceImpl"
			init-method="init">
			<property name="locationRepository" ref="locationRepository" />
			<property name="mongo" ref="mongo" />
			<property name="mongoOps" ref="mongoTemplate" />
			<property name="dbName" value="${mongodb.db.locs}" />
		</bean>
	</beans>

	<!-- ||||||||| geo profile ||||||||| -->
	<beans profile="geo">
		<bean id="locationService" class="org.jimmyray.mongo.services.LocationServiceImpl"
			init-method="init">
			<property name="locationRepository" ref="locationRepository" />
			<property name="mongo" ref="mongo" />
			<property name="mongoOps" ref="mongoTemplate" />
			<property name="dbName" value="${mongodb.db.geo}" />
		</bean>
	</beans>

	<!-- ||||||||| common ||||||||| -->
	<beans profile="auth,local,hq,hqcb,lab,objectRocket">
		<bean id="employeeService" class="org.jimmyray.mongo.services.EmployeeServiceImpl">
			<property name="employeeRepository" ref="employeeRepository" />
		</bean>

		<bean name="SpringBeanFactory" class="org.jimmyray.mongo.framework.SpringBeanFactory" />

		<bean id="customerService" class="org.jimmyray.mongo.services.CustomerServiceImpl">
			<property name="customerRepository" ref="customerRepository" />
		</bean>

		<bean id="customerAddressService" class="org.jimmyray.mongo.services.CustomerAddressServiceImpl">
			<property name="customerAddressRepository" ref="customerAddressRepository" />
		</bean>

		<bean id="jobDescriptionService" class="org.jimmyray.mongo.services.JobDescriptionServiceImpl">
			<property name="jobDescriptionRepository" ref="jobDescriptionRepository" />
		</bean>

		<bean id="fileStorageService" class="org.jimmyray.mongo.services.FileStorageServiceImpl">
			<constructor-arg index="0" name="db" ref="gridfsDb" />
		</bean>

		<bean id="encryptionService" class="org.jimmyray.mongo.services.EncryptionServiceImpl">
			<property name="tdeModule" ref="tdeModule" />
		</bean>

		<bean id="tdeModule" class="org.jimmyray.mongo.security.encryption.TDEModule" />
	</beans>

</beans>
